.login
{
    text-align: center;
    font-size: 32px;
    

}
.paratext
{
    text-align: center;
    font-family: 'Fidelity Sans', arial, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color:black;
  box-sizing: content-box;
  border-spacing: 0;
}