<!-- <div class="container">
    <h2 class="text-center">My Portfolio</h2>
    <div *ngIf="length>0">
        <table class="table">
            <tr *ngFor="let item of portfolio">
                <div>
                    <table>
                        <tr>hello</tr>
                        <tr *ngFor="let itemnew of item">
                            <td>{{itemnew.portfolio_id}}</td>
                        </tr>
                    </table>
                </div>
            </tr>

        </table>
    </div>
</div> -->
<div class="container-fluid text-center background" >
    <h2>My Portfolio</h2>
    <br/>

    <div *ngIf="length>0" class="row justify-content-md-center">
        <div class="col col-md-6">
            <table>
                
                <tr *ngFor="let item of portfolio" class="card text-bg-dark">
                
                    <td class="card-header">
                        <h5>{{item.portfolio_name}}</h5>
                    </td>
                    <td class="card-title"><span class="badge text-bg-success">{{item.portfolio_category}}</span></td>

                    <td>
                        <div class="card-body">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Instrument_Name</th>
                                  <th scope="col">Quantity Traded</th>
                                  <th scope="col"> Price</th>
                                  <th scope="col">% Change</th>
                                  <th scope="col"> Worth</th>
                                </tr>
                              </thead>
                              <tbody>
                            <tr *ngFor="let elem of item.stocks">
                                <td>{{elem.id}}</td>
                                <td>{{elem.instrument_codename}}</td>
                                <td>{{elem.quantity}}</td>
                                <td >{{elem.price|currency}}</td>
                                <td [ngClass]="{positive:elem.change>0,negative:elem.change<=0}">{{elem.change}}%<i class="bi bi-arrow-up-circle"></i></td>
                                <td>{{elem.value|currency}}</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </td>
                </tr>
            </table>

        </div>



    </div>
</div>
